# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
mealmingle/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore Node Modules
node_modules/

# Ignore image files
client/src/*.png
client/src/*.jpg
client/src/*.jpeg
client/src/*.gif
client/src/*.bmp
client/src/*.tiff
client/src/*.svg

# Ignore video files
client/src/*.mp4
client/src/*.mov
client/src/*.avi
client/src/*.mkv

# Ignore other large files
*.zip
*.tar
*.gz
